{% extends "base.html" %}
{% load bootstrap3 %}
{% bootstrap_css %}
{% bootstrap_javascript %}
{% bootstrap_messages %}
{% block title %}Zagłosowano{% endblock %}
{% block content %}
{% if accepted %}
    <div class="alert alert-success">
    <strong>{{message}}</strong>
    </div>
    <a class="btn btn-primary" href={% url 'Lista wyborów' %} >Powrót do listy wyborów</a>
{% else %}
    <div class="alert alert-danger">
    <strong>{{ message }}</strong>
    </div>
    <a class="btn btn-primary" href={% url 'Lista kandydatów' election.ID_WYBOROW %} >Powrót do głosowania</a>
{% endif %}

{% endblock %}