{% extends "ModTemplates/base_mod.html" %}
{% load bootstrap3 %}
{% bootstrap_css %}
{% bootstrap_javascript %}
{% bootstrap_messages %}
{% block title %}Logowanie moderatora{% endblock %}
{% block content %}
    {% if error_message %}
    <br/>
    <div class="alert alert-danger">
    <strong>{{ error_message }}</strong>
    </div>
        <br/>
    {% endif %}
<h1>Zaloguj</h1>
<form method="post" action="{% url 'Logowanie moderatora' %}" >
    {% csrf_token %}
    <table style="border-collapse:separate;border-spacing: 10px">
    {{ form.as_table }}
    </table>
    <input type="submit" name="submit" value="Zaloguj" class="btn btn-primary"/>
<a href="#void" class="captcha-refresh btn btn-default">Odśwież</a>
</form>
{% endblock %}