{% extends "ModTemplates/base_mod.html" %}
{% load bootstrap3 %}
{% bootstrap_css %}
{% bootstrap_javascript %}
{% bootstrap_messages %}
{% block title %}Tworzenie moderatora{% endblock %}
{% block content %}
<h1>Dodaj moderatora</h1>
<form method="post" action="{% url 'Nowy moderator' %}" >
    {% csrf_token %}
    <table style="border-collapse:separate;border-spacing: 10px">
    {{ form.as_table }}
    </table>
    <input type="submit" name="submit" value="Zatwierdź" />
</form>

{% endblock %}